DATABASE_URL="file:./dev.db"
BETTER_AUTH_SECRET="aed2c3f0f4b77f96670a9572dacd2c10f633739a7dfff0102589e3cc545660de"
BETTER_AUTH_URL="http://localhost:3000"

EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=465
EMAIL_SERVER_SECURE=true
EMAIL_SERVER_USER=nevins321@gmail.com
EMAIL_SERVER_PASSWORD="mexz bios ytgf xhim"
EMAIL_FROM="Reading Huddle <nevins321@gmail.com>"

UPLOAD_STORAGE_PATH="full-path-to-image-store"