DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
NUXT_AUTH0_CLIENTID=W84e25nwYpCGeq5an2sVarOczbtIspwi
NUXT_AUTH0_SECRET=sehs3u6qaL5o3T7L-gRWZ7B_vkALxAGOhKoUdRgBfRc_5qaWL1r_TyqUX4TfctdG
NUXT_BASEURL=http://localhost:3000/
NUXT_ISSUER=https://dev-2nq7vy6ddu28gokm.us.auth0.com