.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: row-reverse;
}

.rightContent {
  flex: 2;
  min-height: 100vh;
  width: 40.00%;
  position: relative; /* Positioning context for the absolute positioning of the image wrapper */
}

.imageWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 60%;
  height: 40%; /* Set the height to one-third of the container's height */
  background-image: url('./media/image1.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imageWrapper2 {
  position: absolute;
  top: 260px;
  left: 0;
  width: 60%;
  height: 40%; /* Set the height to one-third of the container's height */
  background-image: url('./media/image2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.imageWrapper3 {
  position: absolute;
  top: 520px;
  left: 0;
  width: 60%;
  height: 40%; /* Set the height to one-third of the container's height */
  background-image: url('./media/image3.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.leftContent {
  flex: 1;
  background-color: #8B0000; 
  min-height: 100vh;
  width: 60%;
}

